<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CropAnImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99E0DA6B1C02FF81003B519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99E0DA7F1C02FF82003B519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99E0DA8A1C02FF82003B519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
